@font-face {
    font-family: "Libreta";
    src: url("../font/ShortStack-Regular.ttf");
}
@font-face {
  font-family: "Idioma";
  src: url("../font/UnicaOne-Regular.ttf");
}
$color_boli:rgb(51, 51, 124);
$color_rojo: rgba(232,72,85,1);
$color_verde: rgba(123,216,96,1);

.comprar {
  display: flex;
  align-items: flex-end;
  justify-content: center;  
  position: fixed;
  z-index: 8000;
  bottom: 20px;
  right: -400px;
  transition: 400ms;
  width: 400px;
  height: 465px;
  /* margin: 150px auto 0; */
  border-radius: 10px;
  background: #FBFBFB;
  box-shadow: 2px 2px 15px 0px rgba(0,0,0,.5);
  font-family: 'Idioma';
  .comprar-text{
    display: flex;
    justify-content: center;    
    padding: 20px;
    width: 100%;
    height: 100%;;
    overflow-y:auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .list-fact{  
      width: 100%;
      li{
          font-weight: bold;
          margin: 5px;
          font-size: 16px;
      }
      h3{
        font-size: 25px;
        .cancel {
          padding: 15px;
          color: rgba(0,0,0,.3);
          cursor: pointer;
          &:hover{
            color: #ff0000;
          }
        }
      }
      .titular{
        color:$color_rojo;
      }
      .pOferta{
        color: $color_verde;
      }
      .space{
        padding: 25px;
      }      
    }
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 5px;
    height: 6px;
    width: 390px;
  }    
  &:before {
    top: -5px;
    background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100% ) -7px -8px / 16px 16px repeat-x,
  }  
  &:after {
    bottom: -5px;
    background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100% ) -7px -2px / 16px 16px repeat-x,
  }
  .precio{
    position: absolute;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 3px solid #000;
    font-size: 25px;
  }
}

.comprar.active{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.hidden{
  display: none;
}
