@font-face {
    font-family: "Libreta";
    src: url("../font/ShortStack-Regular.ttf");
}
.comprar {
  h3{
    font-size: 25px;
  }
    position: relative;
    box-sizing: border-box;
    font-family: 'Libreta';
    width: 400px;
    height: 465px;
    margin: 150px auto 0;
    padding: 20px;
    border-radius: 10px;
    background: #FBFBFB;
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,.5);
    overflow-y:auto;
    display: none;
    &::-webkit-scrollbar {
        display: none;
    }
    
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 5px;
      height: 6px;
      width: 390px;
    }
    
    &:before {
      top: -5px;
      background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100% ) -7px -8px / 16px 16px repeat-x,
    }
    
    &:after {
      bottom: -5px;
      background: radial-gradient(circle, transparent, transparent 50%, #FBFBFB 50%, #FBFBFB 100% ) -7px -2px / 16px 16px repeat-x,
    }
  }
.comprar ul{
    li{
        font-weight: bold;
        margin: 5px;
        font-size: 22px;
    }
}
.btn-comprar{
    cursor: pointer;
    min-width: 20px;
    text-decoration: none;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: rgb(255,255,255);
    border-radius: 25px;
    background-color: rgb(65, 206, 65);
    padding: 15px;
    opacity: 0;
    transition: opacity 1s ease-in;
}
.precio{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 3px solid #000;
    font-size: 22px;

}
.comprar.active{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.btn-comprar.active{
  opacity:1;
}
.btn-active{
    background-color: red;
}
.caja-cuaderno.disable{
  display:none;
}