/*JS file css*/
.image-carior{
  position: absolute;
  top: 0;
  left: 0;
  background: inherit;
  width: 150px;
  height: 100px;
  border-radius: inherit;
  display: none;
}
.image-carior.active{
  display: block;
  z-index: 99999 ;
}
.oferta:nth-child(1) .image-carior.active{
  animation: first 0.5s ease-in;
}
.oferta:nth-child(2) .image-carior.active{
  animation: second 0.5s ease-in;
}
.oferta:nth-child(3) .image-carior.active{
  animation: third 0.5s ease-in;
}
.oferta:nth-child(4) .image-carior.active{
  animation: four 0.5s ease-in;
}
/* @keyframes first{
  to{
      transform: scale(0.08);
      top: 5px;
      left: 85vw;
  }
} */
.oferta.active{
  position: static !important;
}
.oferta.active .oEuros,
.oferta.active .oTexto,
.oferta.active .anadir{
  visibility: hidden;
}
.oferta.hidden{
  opacity: 0;
}
@keyframes first{
  to{
      transform: scale(0.08);
      top: -665px;
      /* top: -72vh; */
      left: 1350px;
      /* left: 82vw; */
  }
}
@keyframes second{
  to{
      transform: scale(0.08);
      top: -72vh;
      left: 82vw;
  }
}
@keyframes third{
  to{
    transform: scale(0.08);
    top: -72vh;
    left: 82vw;
  }
}
@keyframes four{
  to{
    transform: scale(0.08);
    top: -72vh;
    left: 82vw;
  }
}
.carrito.animated{
  animation: temblor 0.5s;
}
@keyframes temblor{
    0%{transform: translate(20px,0px);}
    20%{ransform: translate(0px,0px);}
    40%{ transform: translate(20px,0px);}
    60%{transform: translate(0px,0px);}
    80%{transform: translate(20px,0px);}
    100%{transform: translate(0px,0px);}
}