* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/**Impotación de módulos**/
@import 'preload';
@import "form";
@import 'modalWindow';
@import 'carousel';
@import 'comprar';
@import 'barsMenu';
@import 'pedido';
@import 'flyeToCart';

/*************************/

@font-face {
    font-family: "Piazzere";
    src: url("../font/MeriendaOne-Regular.ttf");
}
@font-face {
    font-family: "Idioma";
    src: url("../font/UnicaOne-Regular.ttf");
}
@font-face {
    font-family: "Libreta";
    src: url("../font/ShortStack-Regular.ttf");
}

/* VARIABLES  */
$color_boli:rgb(51, 51, 124);
$color_rojo: rgba(232,72,85,1);
$color_verde: rgba(123,216,96,1);

$color_fundido_verde: linear-gradient( 117deg,  rgba(123,216,96,1) 39.2%, rgba(255,255,255,1) 156.2% );
$color_fundido_rojo: radial-gradient( circle farthest-corner at 10% 20%,  rgba(232,72,85,1) 0%, rgba(232,72,85,1) 90% );
$color_gris: rgb(65, 65, 65);

$opacidad_humo: 0;

@keyframes cambio_color{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
@keyframes humilloCab {
    from {
        opacity: 1;
        bottom: -50px;
    }      
    to {
        opacity: 0;
        bottom: -30px;
    }
}
@keyframes humillo {
    from {
        opacity: 1;
        bottom: 130px;
    }      
    to {
        opacity: 0;
        bottom: 170px;
    }
}

//GLOBALES
html{
    scroll-behavior: smooth;
}
@mixin fondo{            
    background-image: url("../img/logos/Entramado_reverso.svg");
    background-attachment: fixed;
    background-color: $color_rojo;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;    
    transition: all 500ms ease-in-out;
}
@mixin boton_anadir{    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_verde;
    width: 50px;
    height: 50px;
    border-radius: 50%;        
    filter: drop-shadow(0px 0px 5px $color_verde);
    img{
        width: 80%;
        transition: all 400ms ease-in-out;            
    }
    &:hover{
        background-color: white;
        img{
            transform:scale(1.1);
            filter: invert(71%) sepia(68%) saturate(365%) hue-rotate(58deg) brightness(95%) contrast(90%);
        }
    }
    &:active{
        transform:scale(0.9);
    }
}
@mixin segundo_titular{
    color: $color_rojo;
    margin: 20px 0px;   
    .texto_oferta{
        max-width: 1000px;
        min-width: 300px;
        width: 60vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        row-gap: 10px; 
        h2{         
            font-size: 9vh;
            font-family: "idioma";
        }
        .subtitular{
            border-left: 2px solid $color_rojo;
            padding-left: 20px;            
            font-size: 1.8rem;
            font-family: "idioma";
        }
    }
}
body{
    @include fondo;
}
.cambio_fondo{
    background-color: $color_verde;
    background-attachment: fixed;
    transition: all 700ms;    
}
.cambio_fondo2{
    background-color: $color_rojo;
    background-attachment: fixed;
    transition: all 700ms;
}
.cambio_fondo3{
    background-color: $color_verde;
    background-attachment: fixed;
    transition: all 700ms;
}
.preload{ 
    @include fondo;
    justify-content: center;
}
.rojo{
    color:$color_rojo;
}
.verde{
    color:$color_verde;
}
.zigzag {
    position: relative;
    width: 100%;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: -10px;
        width: 100%;
        height: 10px;
    }    
}
.zigzag_bottom{
    position: relative;
    width: 100%;    
    &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: -10px;
        width: 100%;
        height: 10px;
    }   
}
.fondo_modal_oferta{
    position: fixed;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    .oferta_modal{
        display: flex;
        justify-content: flex-end;
        .x_cierre{
            position: absolute;
            width: 30px;
            height: 30px;
            border: 1px solid white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-transform: translateX(40px);
            transform: translateX(40px);
            font-family:"verdana";
            font-size: 1.5rem;
            color: white;
            cursor: pointer;
            transition: all 300ms ease-in-out;
            &:hover{
                color: $color_rojo;
            }
        }        
        img{
            height: 90vh;
            border-radius: 20px;
        }
    }
}

/* NAVEGADOR */
#navegador{
    max-width: 1920px;
    width: 100%;
    height: 70px;
    background-Color: rgb(65, 65, 65);
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: row;
    transition: 600ms ease-in-out;
    &:before {
        transform: scaleY(-1);
        background:
        
          linear-gradient(
            45deg, transparent 33.333%,
            rgb(65, 65, 65) 33.333%, rgb(65, 65, 65) 66.667%,
            transparent 66.667%
          ),
          linear-gradient(
            -45deg, transparent 33.333%,
            rgb(65, 65, 65) 33.333%, rgb(65, 65, 65) 66.667%,
            transparent 66.667%
          );
        background-size: 20px 40px;
    }
    a{
        color: white;
        text-decoration: none;
        &:visited{
            color: white;
        }
        &:hover{
            color:$color_rojo;
        }
    }
    .nav-logo{
        width: 15%;
        display: flex;
        align-items: center;
        justify-content:flex-start;    
        padding-left: 10px;        
        img{
            height: 100%;
        }
        .logo-peq{
            font-family: "Piazzere";   
            color: white;
            font-size: 2rem;
        }        
    }
    .nav-enlaces{
        width: 65%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:flex-end;    
        color: rgb(255, 255, 255);
        font-family: "Idioma";
        font-size: 1.6rem;
        ul{
            display:flex;
            flex-direction: row;
            list-style-type: none;
            column-gap: 40px;    
        }
    }   
    .nav-carrito{
        width: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        cursor: pointer;   
        .caja-cantidad{
            width: 20px;
            height: 20px;
            position: absolute;
            color:white;
            font-family: "Idioma";
            font-size: 0.9rem;
            border: 2px solid white;
            border-radius: 50%;
            text-align: center;
            top: 14px;
            right: 1px                        
        }
        &:hover{
            filter: invert(45%) sepia(66%) saturate(5852%) hue-rotate(334deg) brightness(102%) contrast(82%);               
            -webkit-filter: invert(45%) sepia(66%) saturate(5852%) hue-rotate(334deg) brightness(102%) contrast(82%);
            -moz-filter: invert(45%) sepia(66%) saturate(5852%) hue-rotate(334deg) brightness(102%) contrast(82%);
        }
    }
    .nav-idiomas{
        width: 10%;
        display: flex;
        align-items: center;
        justify-content:flex-end;
        padding-right: 20px;
        font-family: "Idioma";
        font-size: 1.4em;
        color: white;
        ul{
            display:flex;
            flex-direction: row;
            list-style-type: none;
            column-gap: 10px;
        }
        .idioma-select{
            color:$color_rojo!important;
        }
    }
}
/* HEADER */
header{
    max-width: 1920px;
    width: 100%;
    margin-top: 70px;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;    
}
/* CONTENEDOR PRINCIPAL */
.contenedor_principal{
    width: 100%;    
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* TITULAR */
    #seccion_titular{
        width: 100%;
        max-width: 1920px;
        height: 350px;
        background-color: $color_gris;
        padding-bottom: 40px;
        position: relative;
        &:before {
            background:
              linear-gradient(
                45deg, transparent 33.333%,
                rgb(65, 65, 65) 33.333%, rgb(65, 65, 65) 66.667%,
                transparent 66.667%
              ),
              linear-gradient(
                -45deg, transparent 33.333%,
                rgb(65, 65, 65) 33.333%, rgb(65, 65, 65) 66.667%,
                transparent 66.667%
              );
            background-size: 20px 40px;
        }
        .titulo{            
            width: 100%;
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .logo-principal{
                top: 10vh;
                width: 30%;
            }
            h1{
                position: absolute;
                top: 190px;
                text-align: center;
                font-family: "Piazzere";
                font-size: 3vw;
                color: white;
                text-shadow: $color_verde 0px 0px 20px;
            }
        }
    }    
    /* ZONA OFERTAS */
    #seccion_ofertas{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        .oferta_titular{
            width: 100%;
            height: 45vh;
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;        
            flex-wrap: wrap;
            align-items: center;
            background-image: $color_fundido_rojo;
            column-gap: 5vw;
            overflow: hidden;
            position: relative;
            .img_fondo {
                position: absolute;
                z-index: 90;
                opacity: 20%;
                right: -400px;
                height: 200%;
            }
            img{
                height: 100%;
                z-index: 100;
            }
            .texto_oferta{
                max-width: 500px;
                min-width: 300px;
                width: 40vw;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 10px; 
                h2{         
                    font-size: 9vh;
                    font-family: "idioma";
                    color: white;
                }
                .subtitular{
                    border-left: 2px solid white;
                    padding-left: 20px;            
                    font-size: 1.8rem;
                    font-family: "idioma";
                    color: white;
                }
            }        
        }
        .segundo_titular{
            @include segundo_titular
        }
        #caja_ofertas{    
            width: 90%;
            height: 300px; 
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            #flechas{
                position: absolute;
                width: 100%;
                height: 100%;
                img{
                    position: absolute;
                    opacity: 90%;
                    top:50%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    transition: all 200ms ease-in-out;
                }        
                .flecha:hover{
                    opacity: 100;
                }
                .fIzd{        
                    left: -65px;          
                    z-index: 70;
                    &:active{
                        left:-75px;
                    }
                }            
                .fDch{       
                    right: -65px;            
                    z-index: 70;
                    &:active{
                        right:-75px;
                    }  
                }              
            }
            #ofertas{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    column-gap: 10px;
                    overflow: hidden;
                    justify-content: center;
                    .oferta{
                        width: 300px;
                        height: 300px;        
                        background-color: #A0425B;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        align-items: center;
                        font-size: 6em;
                        font-family: "Piazzere";
                        position: relative;
                        overflow: hidden;
                        border-radius: 0px 30px; 
                        img{
                            width: 100%;
                            z-index: 50;
                            transition: all 600ms ease-in-out;
                            cursor: pointer;
                            &:hover{
                                transform:scale(1.1)
                            }                
                        }                    
                        p{
                            position: absolute; 
                            font-family: "Piazzere";                
                            z-index: 60;                
                        }
                        .anadir{
                            @include boton_anadir();
                            left: 5px;
                            bottom: 5px;
                            z-index: 65;
                        }
                        .oTexto{
                            left: 5px;
                            top: -10px;
                            font-size: 3rem;
                            color: white;
                            text-shadow: $color_verde 2px 2px 10px;                
                        }                      
                        .oEuros{
                            right: 5px;
                            bottom: -18px;
                            font-size: 100%;
                            color: white;
                            text-shadow: red 2px 2px 10px;
                            span{
                                font-size: 2rem;
                            }
                        }            
                    }
                    .movIzda{
                        transform: translateX(-320px); /* Equivalente a translateX(10px) */;
                        transition: all 1000ms step-end;
                    }
            }    
        }  
    }    
    /* ZONA PEDIDO  */
    #seccion_pedido{
        width: 100%;
        height: 1200px;
        max-width: 1920px;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;     
        .oferta_titular{
            width: 100%;
            height: 30vh;
            display: flex;
            flex-direction: row;        
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            background-image: $color_fundido_rojo;
            overflow: hidden;
            position: relative;
            .img_fondo {
                position: absolute;
                opacity: 10%;
                right: -100px;
                height: 200%;
                z-index: 90;
            }
            .texto_oferta{                
                min-width: 300px;
                width: 60%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 10px;
                text-align: center;
                h2{         
                    font-size: 10vh;
                    font-family: "idioma";
                    color: white;
                }
                .subtitular{
                    border-bottom: 2px solid white;
                    padding-bottom: 20px;            
                    font-size: 1.8rem;
                    font-family: "idioma";
                    color: white;
                }
            }        
        }
        #pedido{            
            width: 100%;
            height: 820px;
            max-width: 1440px;
            margin-top: 20px;
            backdrop-filter: blur(10px);
            border-radius: 50px;
            border: 0px solid white; 
            box-shadow: 2px 2px 15px 0px rgba(0,0,0,.5);
            padding-top: 30px;
            background-color: rgba(255, 255, 255, 0.267);
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 20px;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 20px;
            position: relative;
            .caja-cuaderno{
                width: 500px;
                min-width: 500px;    
                height: 700px;
                position: relative;
                #cuaderno-01{
                    z-index: "8";
                }
                #cuaderno-02{
                    z-index: "6";
                }
                #cuaderno-03{
                    z-index: "4";
                }
                .pestanas{    
                    position: absolute;
                    top: 100px;
                    left: -27px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    z-index: 10;
                    cursor: pointer;
                    #pest02{
                        position: absolute;
                        top: 120px;
                        left: 1px;
                    }
                    #pest03{
                        position: absolute;
                        top: 245px;
                        left: 5px;
                    }
                }
                .imgLibreta{
                    width: 100%;
                }
                .contenido-cuaderno{
                    width: 100%;
                    max-width: 480px;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: flex-start;
                    p{
                        font-family: "Libreta";
                        color: $color_gris;
                        font-size: 1.4rem;
                        -webkit-transform: rotate(-1.3deg); 
                        -moz-transform: rotate(-1.3deg); 
                        -ms-transform: rotate(-1.3deg); 
                        -o-transform: rotate(-1.3deg); 
                        transform: rotate(-1.3deg);
                    }
                    .part01{
                        position: relative;
                        width: 100%;
                        height: 150px;
                        p{
                            position: absolute;
                            top: 100px;
                            left: 90px;        
                        }
                        img{
                            position: absolute;
                            top:120px;
                            left: 60px;
                        }
                    }
                    .part02{
                        position: relative;
                        width: 100%;
                        height: 120px;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: flex-start;
                        img{
                            position: absolute;
                            top: 33px;
                            left: 10px;
                        }
                        .part02-opc{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            position: absolute;
                            top: 70px;
                            padding-left: 30px;
                            padding-right: 20px;
                        }
                        .tamano{
                            position: absolute;
                            top: 15px;
                            left: 50px;
                        }
                    }            
                    .part03{    
                        position: relative;
                        width: 100%;
                        height: 120px;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: flex-start;
                        img{
                            position: absolute;
                            top: 30px;
                            left: 25px;
                        }
                        .part03-opc{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            position: absolute;
                            top: 80px;    
                            padding-left: 30px;
                            padding-right: 10px;
                        }
                        .masa{
                            position: absolute;
                            top: 15px;
                            left: 50px;
                        }     
                    }
                    .part04{
                        position: relative;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: flex-start;
                        img{
                            position: absolute;
                            top: 35px;
                            left: 40px
                        }
                        .part04-opc01{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            position: absolute;
                            top: 80px;
                            left: 30px;
                            padding-right: 50px;
                            padding-left: 30px;
                        }
                        .part04-opc02{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            position: absolute;
                            top: 170px;
                            left: 30px;
                            padding-right: 50px;
                            padding-left: 10px;
                        }
                        .part04-opc03{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            position: absolute;
                            top: 250px;
                            left: 30px;
                            padding-right: 50px;
                            padding-left: 10px;
                        }
                        .ingredientes{
                            position: absolute;
                            top: 15px;
                            left: 50px;
                        }  
                    }                
                    
                }
                .selecciones,.selecciones2,.selecciones3{
                    position: absolute;    
                }
                .cuaderno{    
                    width: 500px;
                    min-width: 500px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;   
                    position: absolute;
                    left: 1vw;
                }
                #sel01,#sel02,#ing01,#ing02,#ing03,#ing04,#ing05,#ing06{
                    position: absolute;
                }
                .nota1,.nota2,.nota3,.nota4,.nota5{
                    cursor: pointer;
                }
                .nota1Sel,.nota2Sel,.nota3Sel1,.nota3Sel2,.nota3Sel3,.nota3Sel4,.nota3Sel5,.nota3Sel6,.nota3Sel7,.nota3Sel8,.nota3Sel9,.nota4Sel,.nota4Selagu,.nota4SelaguG,.nota4SelcKel,.nota4SelcEga,.nota4SelcSN,.nota4Selb1,.nota4Selb2,.nota4Selb3,.nota4Selb4,.nota4Selb5,.nota4Selb6,.nota4Selb7,.nota4Selb8,.nota4Selb9,.nota5Sel,.nota5SeloPfi,.nota5SeloPde,.nota5SeloPcq,.nota5SeloPol,.nota5SeloAce,.nota5SeloNug,.nota5SeloH1,.nota5SeloH2,.nota5SeloH3,.nota5SeloH4,.nota5SeloH5,.nota5SeloH6,.nota5SeloH7,.nota5SeloH8,.nota5SeloH9{
                    display: none;
                    position: absolute;
                }
                #t1,#t2,#t3,#t4,#t5,#t6,#t7,#t8,#t9,#t10{
                    display: none;
                    position: absolute;
                }
            }
            .caja-resultado{
                width: 500px;
                min-width: 500px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content:flex-start;
                align-items: center;
                #resultado{
                    width: 100%;
                    height: 500px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    position: relative;
                    img{
                        position: absolute;
                    }
                    .anadir{
                        @include boton_anadir();
                        left: 10px;
                        bottom: 10px;
                        z-index: 65;
                        width: 80px;
                        height: 80px;
                    }
                }                
                #precio{    
                    p{
                        font-family: "Piazzere";    
                        color: $color_gris;
                        font-size: 10vw;
                    }
                    span{
                        font-size: 5vw;
                    }  
                }
            }
        }        
    }
    /* ZONA FORMULARIO */
    #seccion_formulario{
        width: 100%;
        max-width: 1920px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: white;
        .subtitulos{
            font-family: "Idioma";
            font-size: 2.2vw;
            color: $color_gris;
        }
        .segundo_titular{
            @include segundo_titular;
        }
        .contenedor_form{
            width: 80%;
            max-width: 1440px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items:flex-start;
            background-color: white;
            .izd{
                width: 50%;
                height: 100%;
                overflow: hidden;
                img{
                    width: 100%;
                    border-radius: 0px 25%;
                }
            }
            .der{
                width: 45%;
                margin-left: 25PX;
                padding-left: 50px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                border-left: 2px solid $color_gris;
            }
        }
        .contenedor_mapa{
            width: 80%;
            margin-top: 20px;
            .mapa{
                width: 100%;
                height: 300px;
                border: none;
                border-radius:20px;
            }            
        }
    }
    /* ZONA CONCURSO */
    #seccion_concurso{
        width: 100%;
        max-width: 1920px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;        
        overflow: hidden;
        .oferta_titular{            
            width: 100%;
            max-width: 1920px;           
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            column-gap: 80px;
            background-image: $color_fundido_rojo;
            .img_fondo {
                position: absolute;
                z-index: 90;
                opacity: 20%;
                right: -600px;
                height: 150%;
            }
            .oferta_caja_izda{
                width: 40%;
                height: 100%;
                display:flex;
                align-items: center;    
                img{
                    width: 100%;
                    z-index: 100;
                }
            }
            .oferta_caja_dcha{
                width: 40%;
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                justify-content: flex-start;
                align-items: center;                    
                .texto_oferta{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    row-gap: 20px;
                    width: 70%;
                    h2{         
                        font-size: 9vh;
                        font-family: "idioma";
                        color: white;
                    }
                    .subtitular{
                        border-left: 2px solid white;
                        padding-left: 20px;            
                        font-size: 1.8rem;
                        font-family: "idioma";
                        color: white;
                    }
                }
                .grafico{
                    width: 100%;
                    padding-left: 100px;
                    #myChart{
                        max-width: 500px;
                    }
                }
            }
        }
    }
    
    /* ZONA QUIENES SOMOS */
    #seccion_cocina{
        width: 100%;
        max-width: 1920px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        row-gap: 20px;
        padding-bottom: 40px;
        .segundo_titular{
            @include segundo_titular;
        }
        .contenedor_tarjetas{
            /* background-color: #A0425B; */
            width: 80%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 20px;
            align-items: center;
            justify-content: center;            
            .tarjeta{
                width: 280px;
                height: 500px;
                z-index: 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                margin-top: 50px;                
                .humo{
                    position: absolute;
                    opacity: $opacidad_humo;
                    bottom: 130px;
                    right: -20px;
                    z-index: 100;
                    animation-duration: 4s;
                    animation-name: humillo;
                    animation-iteration-count: infinite;                    
                    filter: invert(45%) sepia(11%) saturate(18%) hue-rotate(27deg) brightness(92%) contrast(96%);
                    transform: scale(1.05);
                }
                .hm1{
                    animation-delay: 0s;
                }
                .hm2{
                    animation-delay: 1s;
                }
                .hm3{
                    animation-delay: 2s;
                }
                .hm4{
                    animation-delay: 3s;
                }
                .sup{
                    height: 60%;
                    width: 100%;              
                    position: relative;
                    img{
                        width: 100%;
                        position: absolute;
                        bottom: 5px;
                        /* border-radius: 60% 40% 60% 40%; */
                        border-radius: 0% 30px;
                    }
                    .sobre_img{
                        /* transition:.5s;*/
                        &:hover{                            
                            transform: scale(1.05);                         
                        }
                    }                    
                }
                .inf{
                    height: 40%;
                    width: 100%;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    font-family: "Piazzere";
                    text-align: center;
                    border: 2px dashed $color_gris;
                    padding: 10px;
                    .nombre{                        
                        font-size: 1.6rem;
                        color: $color_gris
                    }
                    .cargo{
                        font-family: "Idioma";
                        font-size: 1.5rem;
                        color: $color_rojo;
                    }
                    .resumen{
                        font-size: 1rem;
                        color: $color_gris;
                    }
                }
            }
        }
    }
}
/* footer   */
footer{
    background-color: $color_gris;
    color: white;
    font-family: sans-serif;
    margin-top: -4px;
    width: 100%;
    max-width: 1920px;
    &:before {
        background:
          linear-gradient(
            45deg, transparent 33.333%,
            rgb(65, 65, 65) 33.333%, rgb(65, 65, 65) 66.667%,
            transparent 66.667%
          ),
          linear-gradient(
            -45deg, transparent 33.333%,
            rgb(65, 65, 65) 33.333%, rgb(65, 65, 65) 66.667%,
            transparent 66.667%
          );
        background-size: 20px 40px;
    }   
    .columnas{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .columna{
            width: 23%;
            padding-top: 20px;
            padding-left: 20px;        
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            .logo-peq{
                font-family: "Piazzere";
                font-size: 1.6rem;
            }
            h2{
                font-size: 20px;
            }
            a{
                color: white;
                text-decoration: none;
                &:visited{
                    color: white;
                }
                &:hover{
                    color: $color_rojo
                }
            } 
            .cajetin-contacto{
                display: flex;
                flex-direction: column;
                img{
                    height: 18px;
                }
                .fila-cajetin{
                    display: flex;
                    column-gap: 20px;
                    padding-bottom: 20px;
                }
            }
        }        
    }
    .copyrights{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }    
}

