* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/**Impotación de módulos**/
@import 'preload';
@import "form";
@import 'modalWindow';
@import 'carousel';

/************************/

@font-face {
    font-family: "Piazzere";
    src: url("../font/MeriendaOne-Regular.ttf");
}
@font-face {
    font-family: "Idioma";
    src: url("../font/UnicaOne-Regular.ttf");
}
@font-face {
    font-family: "Libreta";
    src: url("../font/ShortStack-Regular.ttf");
}

/* VARIABLES */
$color_boli:rgb(51, 51, 124);
$color_rojo: #A0425B;
$color_verde: #4B9C40;

html{
    scroll-behavior: smooth;
}
@mixin fondo{
    background-image: url("../img/logos/Entramado_verde.svg");
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all 1000ms ease-in-out;
}
body{
    @include fondo
}
.cambio_fondo{
    background-image: url("../img/logos/Entramado_rojo.svg")!important;
    transition: all 1000ms ease-in-out;
}
.preload{ 
    @include fondo;
    justify-content: center;
}
/* NAVEGADOR */
#navegador{
    max-width: 1920px;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    z-index: 20;
    display: flex;
    flex-direction: row;
    transition: 400ms ease-in-out;
    a{
        color: white;
        text-decoration: none;
    }
    a:visited{
        color: white;
    }
    a:hover{
        color:#A0425B;
    }
}
.nav-logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content:flex-start;    
    padding-left: 10px;
    img{
        height: 100%;
    }
}
.logo-peq{
    font-family: "Piazzere";   
    color: white;
    font-size: 2rem;
}
.nav-enlaces{
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;    
    color: rgb(255, 255, 255);
    font-family: "Piazzere";
    font-size: 2rem;
    ul{
        display:flex;
        flex-direction: row;
        list-style-type: none;
        column-gap: 40px;    
    }
}
.nav-idiomas{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-right: 20px;
    font-family: "Idioma";
    font-size: 1.4em;
    color: white;
    ul{
        display:flex;
        flex-direction: row;
        list-style-type: none;
        column-gap: 10px;
    }
}
.idioma-select{
    color:$color_rojo!important;
}

/* HEADER */
header{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.logo-principal{
    position: absolute;
    top: 10vh;
    width: 30%;
}
.rojo{
    color:$color_rojo;
}
.verde{
    color:$color_verde;
}

/* CONTENEDOR PRINCIPAL */
.contenedor_principal{
    width: 90%;
    margin: 0 auto;
}

/* ZONA PEDIDO */

#pedido{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.pestanas{    
    position: absolute;
    top: 100px;
    left: -27px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
}
#pest02{
    position: absolute;
    top: 120px;
    left: 1px;
}
#pest03{
    position: absolute;
    top: 245px;
    left: 5px;
}

#cuaderno-01{
    z-index: "8";
}
#cuaderno-02{
    z-index: "6";
}
#cuaderno-03{
    z-index: "4";
}
.caja-cuaderno{
    width: 500px;
    min-width: 500px;    
    height: 700px;
    position: relative;
}
.cuaderno{    
    width: 500px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;   
    position: absolute;
    left: 1vw;
}
.imgLibreta{
    width: 100%;
}
.contenido-cuaderno{
    width: 100%;
    max-width: 480px;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    p{
        font-family: "Libreta";
        color: $color_boli;
        font-size: 1.4rem;
        -webkit-transform: rotate(-1.3deg); 
        -moz-transform: rotate(-1.3deg); 
        -ms-transform: rotate(-1.3deg); 
        -o-transform: rotate(-1.3deg); 
        transform: rotate(-1.3deg);
    }    
}
.part01{
    position: relative;
    width: 100%;
    height: 150px;
    p{
        position: absolute;
        top: 100px;
        left: 90px;        
    }
    img{
        position: absolute;
        top:120px;
        left: 60px;
    }
}
.part02{
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    img{
        position: absolute;
        top: 33px;
        left: 10px;
    }    
}
.tamano{
    position: absolute;
    top: 15px;
    left: 50px;
}
.part02-opc{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 70px;
    padding-left: 30px;
    padding-right: 20px;
}
.part03{    
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    img{
        position: absolute;
        top: 30px;
        left: 25px;
    }      
}
.masa{
    position: absolute;
    top: 15px;
    left: 50px;
}
.part03-opc{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 80px;    
    padding-left: 30px;
    padding-right: 10px;
}
.part04{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    img{
        position: absolute;
        top: 35px;
        left: 40px
    }     
}
.ingredientes{
    position: absolute;
    top: 15px;
    left: 50px;
}
.part04-opc01{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 80px;
    left: 30px;
    padding-right: 50px;
    padding-left: 30px;
}
.part04-opc02{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 170px;
    left: 30px;
    padding-right: 50px;
    padding-left: 10px;
}
.part04-opc03{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 250px;
    left: 30px;
    padding-right: 50px;
    padding-left: 10px;
}
.selecciones{
    position: absolute;    
}
#sel01,#sel02,#ing01,#ing02,#ing03,#ing04,#ing05,#ing06{
    position: absolute;
}
.nota1,.nota2,.nota3{
    cursor: pointer;
}
.nota1Sel, .nota2Sel, .nota3Sel1, .nota3Sel2, .nota3Sel3, .nota3Sel4, .nota3Sel5, .nota3Sel6, .nota3Sel7, .nota3Sel8, .nota3Sel9{
    display: none;
    position: absolute;
}
#t1, #t2, #t3, #t4, #t5, #t6, #t7, #t8, #t9,#t10{
    display: none;
    position: absolute;
}
.caja-resultado{
    width: 500px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
}
#resultado{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    img{
        position: absolute;
    }  
}
#precio{    
    p{
        font-family: "Piazzere";    
        color: black;
        font-size: 10vw;
    }
    span{
        font-size: 5vw;
    }  
}