@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**Impotación de módulos**/
.preload {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: circle(150% at 100% 0);
          clip-path: circle(150% at 100% 0);
  -webkit-transition: -webkit-clip-path 0.8s ease-in-out;
  transition: -webkit-clip-path 0.8s ease-in-out;
  transition: clip-path 0.8s ease-in-out;
  transition: clip-path 0.8s ease-in-out, -webkit-clip-path 0.8s ease-in-out;
  z-index: 100000;
}

/* #a79157 */
.preload-hidden {
  -webkit-clip-path: circle(0% at 100% 100%);
          clip-path: circle(0% at 100% 100%);
}

.form {
  margin: 50px auto;
  width: 40vw;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
}

.form h3 {
  font-size: 26px;
}

.form .form-group {
  margin-top: 25px;
  width: 100%;
  height: 50px;
  max-width: 400px;
  position: relative;
  overflow: hidden;
}

.form .form-group .text-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 18px;
}

.form .form-group input {
  width: 100%;
  height: 100%;
  background: none;
  color: #fff;
  padding-top: 20px;
  border: none;
  outline: 0px;
}

.form .form-group input:focus + .lb .text-name,
.form .form-group input:valid + .lb .text-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 14px;
  color: #2ecece;
}

.form .form-group label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #c7c7c7;
}

.form .form-group label::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #2ecece;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-group input:focus + .lb:after,
.form-group input:valid + .lb:after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.form-group-acept {
  margin: 15px;
  margin-left: 0px;
  position: relative;
  display: block;
}

.btn-submit {
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
          box-shadow: 0px 10px 14px -7px #3e7327;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #77b55a), to(#72b352));
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color: #77b55a;
  border-radius: 4px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Times New Roman';
  font-size: 18px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
}

.btn-submit:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #72b352), to(#77b55a));
  background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  background-color: #72b352;
}

.btn-submit::active {
  position: relative;
  top: 1px;
}

.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-activo {
  display: block;
}

#formulario__mensaje-error {
  background-color: rgba(255, 0, 0, 0.5);
  padding: 15px;
  margin-bottom: 7px;
  display: none;
}

#formulario__mensaje-successful {
  background-color: rgba(0, 128, 0, 0.5);
  padding: 15px;
  margin-top: 7px;
  text-align: center;
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  caret-color: #fff;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/**Ventana modal para cookies**/
.window {
  z-index: 999;
  /* transform: translate(0,-100%); */
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.window #cookies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
}

.window #cookies .cookies-text {
  width: 60%;
  color: #fff;
  font-family: 'Libreta';
}

.window #cookies .cookies-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.window #cookies .cookies-elements .btn-cookies {
  cursor: pointer;
  background-color: #77b55a;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #77b55a), to(#72b352));
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  border-radius: 6px;
  text-shadow: 0px 1px 0px #5b8a3c;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 6px 12px;
  font-size: 'Time New Roman';
  margin: 20px;
}

.window #cookies .cookies-elements .close {
  position: absolute;
  cursor: pointer;
  background-color: #f0f0f0d8;
  border-radius: 50%;
  top: 0;
  right: 0;
  color: #000;
  padding: 7px;
  margin: 10px;
}

.window #cookies .cookies-elements a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  margin: 7px;
}

.window #cookies .cookies-elements a:hover {
  color: #f0f0f0;
}

.window #cookies .cookies-elements a span {
  margin: 5px;
}

/**Media Screen - Responsive**/
@media screen and (max-width: 380px) {
  #cookies {
    width: 300px;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
  }
}

.window.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

/************************/
@font-face {
  font-family: "Piazzere";
  src: url("../font/MeriendaOne-Regular.ttf");
}

@font-face {
  font-family: "Idioma";
  src: url("../font/UnicaOne-Regular.ttf");
}

@font-face {
  font-family: "Libreta";
  src: url("../font/ShortStack-Regular.ttf");
}

/* VARIABLES */
html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../img/logos/Entramado_verde.svg");
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.preload {
  background-image: url("../img/logos/Entramado_verde.svg");
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* NAVEGADOR */
#navegador {
  max-width: 1920px;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

#navegador a {
  color: white;
  text-decoration: none;
}

#navegador a:visited {
  color: white;
}

#navegador a:hover {
  color: #A0425B;
}

.nav-logo {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 10px;
}

.nav-logo img {
  height: 100%;
}

.logo-peq {
  font-family: "Piazzere";
  color: white;
  font-size: 2rem;
}

.nav-enlaces {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  font-family: "Piazzere";
  font-size: 2rem;
}

.nav-enlaces ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.nav-idiomas {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
  font-family: "Idioma";
  font-size: 1.4em;
  color: white;
}

.nav-idiomas ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.idioma-select {
  color: #A0425B !important;
}

/* HEADER */
header {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header img {
  width: 100%;
}

.logo-principal {
  position: absolute;
  top: 10vh;
  width: 30%;
}

.rojo {
  color: #A0425B;
}

.verde {
  color: #4B9C40;
}

/* CONTENEDOR PRINCIPAL */
.contenedor_principal {
  width: 90%;
  margin: 0 auto;
}

/* ZONA PEDIDO */
#pedido {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.pestanas {
  position: absolute;
  top: 100px;
  left: -24px;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cuaderno {
  width: 500px;
  min-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.imgLibreta {
  width: 100%;
}

.contenido-cuaderno {
  width: 100%;
  max-width: 480px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contenido-cuaderno p {
  font-family: "Libreta";
  color: #33337c;
  font-size: 1.4rem;
  -webkit-transform: rotate(-1.3deg);
  transform: rotate(-1.3deg);
}

.part01 {
  position: relative;
  width: 100%;
  height: 150px;
}

.part01 p {
  position: absolute;
  top: 100px;
  left: 90px;
}

.part01 img {
  position: absolute;
  top: 120px;
  left: 60px;
}

.part02 {
  position: relative;
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.part02 img {
  position: absolute;
  top: 33px;
  left: 10px;
}

.tamano {
  position: absolute;
  top: 15px;
  left: 50px;
}

.part02-opc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 70px;
  padding-left: 30px;
  padding-right: 20px;
}

.part03 {
  position: relative;
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.part03 img {
  position: absolute;
  top: 30px;
  left: 25px;
}

.masa {
  position: absolute;
  top: 15px;
  left: 50px;
}

.part03-opc {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 80px;
  padding-left: 30px;
  padding-right: 10px;
}

.part04 {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.part04 img {
  position: absolute;
  top: 35px;
  left: 40px;
}

.ingredientes {
  position: absolute;
  top: 15px;
  left: 50px;
}

.part04-opc01 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 80px;
  left: 30px;
  padding-right: 50px;
  padding-left: 30px;
}

.part04-opc02 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 170px;
  left: 30px;
  padding-right: 50px;
  padding-left: 10px;
}

.part04-opc03 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 250px;
  left: 30px;
  padding-right: 50px;
  padding-left: 10px;
}

.selecciones {
  position: absolute;
}

#sel01, #sel02, #ing01, #ing02, #ing03, #ing04, #ing05, #ing06 {
  position: absolute;
}

.nota1, .nota2, .nota3 {
  cursor: pointer;
}

.nota1Sel, .nota2Sel, .nota3Sel1, .nota3Sel2, .nota3Sel3, .nota3Sel4, .nota3Sel5, .nota3Sel6, .nota3Sel7, .nota3Sel8, .nota3Sel9 {
  display: none;
  position: absolute;
}

#t1, #t2, #t3, #t4, #t5, #t6, #t7, #t8, #t9, #10 {
  display: none;
  position: absolute;
}

.caja-resultado {
  width: 500px;
  min-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#resultado {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#resultado img {
  position: absolute;
}

#precio p {
  font-family: "Piazzere";
  color: black;
  font-size: 10vw;
}

#precio span {
  font-size: 5vw;
}
/*# sourceMappingURL=style.css.map */